@model ProjectRUP_1.Models.ExamSubscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamSubscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamClassroomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamClassroomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
